In [2]:
import pandas as pd
import numpy as np

# Arithematic Operations

In [4]:
s1 = pd.Series(np.arange(4), index=['a', 'c', 'd', 'e'])
s2 = pd.Series(np.arange(5), index=['a', 'c', 'e', 'f', 'g'])

print(s1)
print(s2)

a    0
c    1
d    2
e    3
dtype: int32
a    0
c    1
e    2
f    3
g    4
dtype: int32

In [6]:
print(s1 + s2)

a    0.0
c    2.0
d    NaN
e    5.0
f    NaN
g    NaN
dtype: float64

In [14]:
DF1 = pd.DataFrame(np.arange(6).reshape(2, 3), 
                  columns=list("ABC"), 
                  index = ["tic", "toe"])

DF2 = pd.DataFrame(np.arange(9).reshape(3, 3), 
                  columns=list("ACD"), 
                  index = ['tic', 'tac', 'toe'])

print(DF1)
print("-" * 60)

print(DF2)

     A  B  C
tic  0  1  2
toe  3  4  5
------------------------------------------------------------
     A  C  D
tic  0  1  2
tac  3  4  5
toe  6  7  8

In [16]:
print(DF1 + DF2)

       A   B     C   D
tac  NaN NaN   NaN NaN
tic  0.0 NaN   3.0 NaN
toe  9.0 NaN  12.0 NaN

In [18]:
print(1/DF1)

            A     B    C
tic       inf  1.00  0.5
toe  0.333333  0.25  0.2

In [20]:
print(DF1 * 3)

     A   B   C
tic  0   3   6
toe  9  12  15

In [22]:
print(DF1.mul(3))

     A   B   C
tic  0   3   6
toe  9  12  15

In [24]:
print(DF2)

     A  C  D
tic  0  1  2
tac  3  4  5
toe  6  7  8

In [29]:
res = DF2.iloc[1]
print(res)

A    3
C    4
D    5
Name: tac, dtype: int32

In [31]:
print(DF2-res)

     A  C  D
tic -3 -3 -3
tac  0  0  0
toe  3  3  3

In [35]:
DF3 = DF2["A"]
print(DF3)

tic    0
tac    3
toe    6
Name: A, dtype: int32

In [47]:
print(DF2)

print("-" * 60)
DF3 = DF2["A"]
print(DF3)

print("-" * 60)
DF4 = DF2.sub(DF3, axis="index")
print(DF4)

     A  C  D
tic  0  1  2
tac  3  4  5
toe  6  7  8
------------------------------------------------------------
tic    0
tac    3
toe    6
Name: A, dtype: int32
------------------------------------------------------------
     A  C  D
tic  0  1  2
tac  0  1  2
toe  0  1  2

In [50]:
#applying Functions

DF = pd.DataFrame(np.random.randn(4, 3), 
                 columns=list("ABC"), 
                 index = ["Kim", "Susan", "Tim", "Tom"])

print(DF)

              A         B         C
Kim   -1.352400  1.195286 -0.420148
Susan  0.064846  0.416231 -0.794974
Tim    0.989628 -1.127112  0.060882
Tom   -1.265228 -1.204119 -0.549724

In [52]:
print(np.abs(DF))

              A         B         C
Kim    1.352400  1.195286  0.420148
Susan  0.064846  0.416231  0.794974
Tim    0.989628  1.127112  0.060882
Tom    1.265228  1.204119  0.549724

In [54]:
f = lambda x: x.max() - x.min()

DF.apply(f)

A    2.342028
B    2.399405
C    0.855856
dtype: float64

In [56]:
DF.apply(f, axis=1)

Kim      2.547686
Susan    1.211205
Tim      2.116740
Tom      0.715504
dtype: float64

In [58]:
def f(x):
    return x ** 2

In [62]:
print(DF)
print("-" * 60)
DF.apply(f)

              A         B         C
Kim   -1.352400  1.195286 -0.420148
Susan  0.064846  0.416231 -0.794974
Tim    0.989628 -1.127112  0.060882
Tom   -1.265228 -1.204119 -0.549724
------------------------------------------------------------

              A         B         C
Kim    1.828986  1.428709  0.176525
Susan  0.004205  0.173248  0.631984
Tim    0.979364  1.270381  0.003707
Tom    1.600802  1.449902  0.302197

In [63]:
print(f(-1.352400))

1.8289857600000001