In [1]:
import pandas as pd
import numpy as np

In [3]:
srs = pd.Series(range(5), index = ['c', 'd', 'a', 'b', 'e'])
print(srs)

c    0
d    1
a    2
b    3
e    4
dtype: int64

In [5]:
srs.sort_index()

a    2
b    3
c    0
d    1
e    4
dtype: int64

In [10]:
DF = pd.DataFrame(np.arange(12).reshape(3, 4),
                           index = ['two', 'one', 'three'],
                           columns=['d', 'a', 'c', 'b'])
print(DF)

print("-" * 60)

print(DF.sort_index())

       d  a   c   b
two    0  1   2   3
one    4  5   6   7
three  8  9  10  11
------------------------------------------------------------
       d  a   c   b
one    4  5   6   7
three  8  9  10  11
two    0  1   2   3

In [12]:
print(DF.sort_index(axis = 1))

       a   b   c  d
two    1   3   2  0
one    5   7   6  4
three  9  11  10  8

In [14]:
print(DF.sort_index(axis = 1, ascending=False))

       d   c   b  a
two    0   2   3  1
one    4   6   7  5
three  8  10  11  9

In [16]:
srs1 = pd.Series([5, np.nan, 3, -1, 9])
print(srs1)

0    5.0
1    NaN
2    3.0
3   -1.0
4    9.0
dtype: float64

In [18]:
print(srs1.sort_values())

3   -1.0
2    3.0
0    5.0
4    9.0
1    NaN
dtype: float64

In [20]:
DF1 = pd.DataFrame({"a": [5, 3, -1, 9], "b": [1, -2, 0, 5]})
print(DF1)

   a  b
0  5  1
1  3 -2
2 -1  0
3  9  5

In [22]:
print(DF1.sort_values(by='b'))

   a  b
1  3 -2
2 -1  0
0  5  1
3  9  5

In [24]:
print(DF1.sort_values(by=['a', 'b']))

   a  b
2 -1  0
1  3 -2
0  5  1
3  9  5

In [26]:
print(DF1.sort_values(by="a"))

   a  b
2 -1  0
1  3 -2
0  5  1
3  9  5

In [28]:
data = pd.read_csv("C:\\Users\\Kiran\\CDAC\\Day15\\vgsalesGlobale.csv")
print(data)

        Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]

In [31]:
print(data['Name'].sort_values(ascending = False))

9135                Â¡Shin Chan Flipa en colores!
470                   wwe Smackdown vs. Raw 2006
15523               uDraw Studio: Instant Artist
7835                uDraw Studio: Instant Artist
627                                 uDraw Studio
                          ...
8304               .hack//G.U. Vol.3//Redemption
8602     .hack//G.U. Vol.2//Reminisce (jp sales)
7107                .hack//G.U. Vol.2//Reminisce
8357                  .hack//G.U. Vol.1//Rebirth
4754                                 '98 Koshien
Name: Name, Length: 16598, dtype: object

In [33]:
print(data.sort_values("Name"))

        Rank                                     Name Platform    Year  \
4754    4756                              '98 Koshien       PS  1998.0
8357    8359               .hack//G.U. Vol.1//Rebirth      PS2  2006.0
7107    7109             .hack//G.U. Vol.2//Reminisce      PS2  2006.0
8602    8604  .hack//G.U. Vol.2//Reminisce (jp sales)      PS2  2006.0
8304    8306            .hack//G.U. Vol.3//Redemption      PS2  2007.0
...      ...                                      ...      ...     ...
627      628                             uDraw Studio      Wii  2010.0
7835    7837             uDraw Studio: Instant Artist      Wii  2011.0
15523  15526             uDraw Studio: Instant Artist     X360  2011.0
470      471               wwe Smackdown vs. Raw 2006      PS2     NaN
9135    9137             Â¡Shin Chan Flipa en colores!       DS  2007.0

              Genre           Publisher  NA_Sales  EU_Sales  JP_Sales  \
4754         Sports     Magical Company      0.15      0.10      0.12
8357   Role-Playing  Namco Bandai Games      0.00      0.00      0.17
7107   Role-Playing  Namco Bandai Games      0.11      0.09      0.00
8602   Role-Playing  Namco Bandai Games      0.00      0.00      0.16
8304   Role-Playing  Namco Bandai Games      0.00      0.00      0.17
...             ...                 ...       ...       ...       ...
627            Misc                 THQ      1.67      0.58      0.00
7835           Misc                 THQ      0.08      0.09      0.00
15523          Misc                 THQ      0.01      0.01      0.00
470        Fighting                 NaN      1.57      1.02      0.00
9135       Platform           505 Games      0.00      0.00      0.14

       Other_Sales  Global_Sales
4754          0.03          0.41
8357          0.00          0.17
7107          0.03          0.23
8602          0.00          0.16
8304          0.00          0.17
...            ...           ...
627           0.20          2.46
7835          0.02          0.19
15523         0.00          0.02
470           0.41          3.00
9135          0.00          0.14

[16598 rows x 11 columns]

In [35]:
print(data.sort_values('Year'))

        Rank                         Name Platform    Year         Genre  \
6896    6898                     Checkers     2600  1980.0          Misc
2669    2671                       Boxing     2600  1980.0      Fighting
5366    5368                      Freeway     2600  1980.0        Action
1969    1971                     Defender     2600  1980.0          Misc
1766    1768                      Kaboom!     2600  1980.0          Misc
...      ...                          ...      ...     ...           ...
16307  16310                Freaky Flyers       GC     NaN        Racing
16327  16330                    Inversion       PC     NaN       Shooter
16366  16369  Hakuouki: Shinsengumi Kitan      PS3     NaN     Adventure
16427  16430                 Virtua Quest       GC     NaN  Role-Playing
16493  16496                   The Smurfs      3DS     NaN        Action

                Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
6896                Atari      0.22      0.01       0.0         0.00
2669           Activision      0.72      0.04       0.0         0.01
5366           Activision      0.32      0.02       0.0         0.00
1969                Atari      0.99      0.05       0.0         0.01
1766           Activision      1.07      0.07       0.0         0.01
...                   ...       ...       ...       ...          ...
16307             Unknown      0.01      0.00       0.0         0.00
16327  Namco Bandai Games      0.01      0.00       0.0         0.00
16366             Unknown      0.01      0.00       0.0         0.00
16427             Unknown      0.01      0.00       0.0         0.00
16493             Unknown      0.00      0.01       0.0         0.00

       Global_Sales
6896           0.24
2669           0.77
5366           0.34
1969           1.05
1766           1.15
...             ...
16307          0.01
16327          0.01
16366          0.01
16427          0.01
16493          0.01

[16598 rows x 11 columns]

In [38]:
print(data.sort_values(["Year", "Name"]))

        Rank                                        Name Platform    Year  \
258      259                                   Asteroids     2600  1980.0
2669    2671                                      Boxing     2600  1980.0
6317    6319                                      Bridge     2600  1980.0
6896    6898                                    Checkers     2600  1980.0
1969    1971                                    Defender     2600  1980.0
...      ...                                         ...      ...     ...
7351    7353              Yu Yu Hakusho: Dark Tournament      PS2     NaN
15476  15479  Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)      Wii     NaN
11409  11411                    Zero: Tsukihami no Kamen      Wii     NaN
8899    8901                              eJay Clubworld      PS2     NaN
470      471                  wwe Smackdown vs. Raw 2006      PS2     NaN

          Genre           Publisher  NA_Sales  EU_Sales  JP_Sales  \
258     Shooter               Atari      4.00      0.26      0.00
2669   Fighting          Activision      0.72      0.04      0.00
6317       Misc          Activision      0.25      0.02      0.00
6896       Misc               Atari      0.22      0.01      0.00
1969       Misc               Atari      0.99      0.05      0.00
...         ...                 ...       ...       ...       ...
7351   Fighting                 NaN      0.10      0.08      0.00
15476    Racing             Unknown      0.00      0.00      0.02
11409    Action            Nintendo      0.00      0.00      0.08
8899       Misc  Empire Interactive      0.07      0.06      0.00
470    Fighting                 NaN      1.57      1.02      0.00

       Other_Sales  Global_Sales
258           0.05          4.31
2669          0.01          0.77
6317          0.00          0.27
6896          0.00          0.24
1969          0.01          1.05
...            ...           ...
7351          0.03          0.21
15476         0.00          0.02
11409         0.00          0.08
8899          0.02          0.15
470           0.41          3.00

[16598 rows x 11 columns]