In [9]:
import pandas as pd

data = {
    "name":['Sachin', 'Sehwag', 'Yuvraj', 'Sourav', 'Virat'],
    "runs":[120, 65, 85, 70, 25],
    "opponent":['WI', 'PAK', 'ENG', 'SA', 'AUS'],
    "gender":["M", "M", "M", "M", "M"]
}

print(data)

sportsDF = pd.DataFrame(data)
print("-" * 60)

print(sportsDF)
print("-" * 60)

colDF = pd.DataFrame(data, columns=["Name", "Runs", "Opponent", "Gender"])
print(colDF)

print("-" * 60)
print(sportsDF.head())

print("-" * 60)
print(sportsDF.tail())

print("-" * 60)

{'name': ['Sachin', 'Sehwag', 'Yuvraj', 'Sourav', 'Virat'], 'runs': [120, 65, 85, 70, 25], 'opponent': ['WI', 'PAK', 'ENG', 'SA', 'AUS'], 'gender': ['M', 'M', 'M', 'M', 'M']}
------------------------------------------------------------
     name  runs opponent gender
0  Sachin   120       WI      M
1  Sehwag    65      PAK      M
2  Yuvraj    85      ENG      M
3  Sourav    70       SA      M
4   Virat    25      AUS      M
------------------------------------------------------------
Empty DataFrame
Columns: [Name, Runs, Opponent, Gender]
Index: []
------------------------------------------------------------
     name  runs opponent gender
0  Sachin   120       WI      M
1  Sehwag    65      PAK      M
2  Yuvraj    85      ENG      M
3  Sourav    70       SA      M
4   Virat    25      AUS      M
------------------------------------------------------------
     name  runs opponent gender
0  Sachin   120       WI      M
1  Sehwag    65      PAK      M
2  Yuvraj    85      ENG      M
3  Sourav    70       SA      M
4   Virat    25      AUS      M
------------------------------------------------------------

In [19]:
DF = pd.DataFrame(data, columns=['name', 'runs', 'opponent', 'gender'],
                  index = ['one', 'two', 'three', 'four', 'five'])

# column names cannot be changed

print(DF)

         name  runs opponent gender
one    Sachin   120       WI      M
two    Sehwag    65      PAK      M
three  Yuvraj    85      ENG      M
four   Sourav    70       SA      M
five    Virat    25      AUS      M

In [33]:
print(DF)

print("-" * 60)

print(DF['name'])

print("-" * 60)

mycols = ["runs", "opponent"]

print(DF[mycols])

print("-" * 60)

print(DF.name)

print("-" * 60)

print(DF.loc['one'])

print("-" * 60)

print(DF.loc[['one']])

         name  runs opponent gender
one    Sachin   120       WI      M
two    Sehwag    65      PAK      M
three  Yuvraj    85      ENG      M
four   Sourav    70       SA      M
five    Virat    25      AUS      M
------------------------------------------------------------
one      Sachin
two      Sehwag
three    Yuvraj
four     Sourav
five      Virat
Name: name, dtype: object
------------------------------------------------------------
       runs opponent
one     120       WI
two      65      PAK
three    85      ENG
four     70       SA
five     25      AUS
------------------------------------------------------------
one      Sachin
two      Sehwag
three    Yuvraj
four     Sourav
five      Virat
Name: name, dtype: object
------------------------------------------------------------
name        Sachin
runs           120
opponent        WI
gender           M
Name: one, dtype: object
------------------------------------------------------------
       name  runs opponent gender
one  Sachin   120       WI      M

In [35]:
print(DF.loc[['one', 'five']])

        name  runs opponent gender
one   Sachin   120       WI      M
five   Virat    25      AUS      M

In [39]:
print(DF["runs"] < 80)

one      False
two       True
three    False
four      True
five      True
Name: runs, dtype: bool

In [48]:
DF["benchmrk"] = DF.runs <= 80

print(DF)

print("-" * 60)

del DF["benchmrk"]

print(DF)

         name  runs opponent gender  benchmrk
one    Sachin   120       WI      M     False
two    Sehwag    65      PAK      M      True
three  Yuvraj    85      ENG      M     False
four   Sourav    70       SA      M      True
five    Virat    25      AUS      M      True
------------------------------------------------------------
         name  runs opponent gender
one    Sachin   120       WI      M
two    Sehwag    65      PAK      M
three  Yuvraj    85      ENG      M
four   Sourav    70       SA      M
five    Virat    25      AUS      M

In [50]:
scores = {"Math":{"Jack": 85, 'Kevin': 90, 'Nixon': 95},  "Physics": {"Jack": 90, 'Kevin': 80, 'Nixon': 75}}

scrDF = pd.DataFrame(scores)

print(scrDF)

       Math  Physics
Jack     85       90
Kevin    90       80
Nixon    95       75

In [52]:
print(scrDF.T)

         Jack  Kevin  Nixon
Math       85     90     95
Physics    90     80     75

In [57]:
scrDF.index.name="StudName"
scrDF.columns.name = "Subjects"

print(scrDF)

Subjects  Math  Physics
StudName
Jack        85       90
Kevin       90       80
Nixon       95       75

In [59]:
print(scrDF.values)

[[85 90]
 [90 80]
 [95 75]]