In [5]:
import pandas as pd
import numpy as np

DF = pd.Series(np.arange(5), index=["a", "b", "c", "d", "e"])
print(DF)

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [7]:
print(DF["c"])

2

In [9]:
print(DF[2])

2

In [11]:
print(DF[0:3])

a    0
b    1
c    2
dtype: int32

In [15]:
print(DF["a": "c"])

a    0
b    1
c    2
dtype: int32

In [19]:
DF["b":"c"] = 25

print(DF)

a     0
b    25
c    25
d     3
e     4
dtype: int32

In [27]:
DF = pd.DataFrame(np.arange(16).reshape(4, 4),
                 index = ["london", "paris", "Berlin", "Istanbul"], 
                 columns = ["one", "two", "three", "four"])

print(DF)

          one  two  three  four
london      0    1      2     3
paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [29]:
print(DF["two"])

london       1
paris        5
Berlin       9
Istanbul    13
Name: two, dtype: int32

In [33]:
print(DF[["one", "two"]])

          one  two
london      0    1
paris       4    5
Berlin      8    9
Istanbul   12   13

In [36]:
print(DF[DF["four"]> 5])

          one  two  three  four
paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [38]:
print(DF[:3])

        one  two  three  four
london    0    1      2     3
paris     4    5      6     7
Berlin    8    9     10    11

In [42]:
print(DF[DF["four"]>5])

          one  two  three  four
paris       4    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [48]:
DF[DF<5]=0
print(DF)

          one  two  three  four
london      0    0      0     0
paris       0    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15

In [51]:
# selecting with loc and iloc
print(DF)

print("-" * 60)

print(DF.iloc[1])

          one  two  three  four
london      0    0      0     0
paris       0    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15
------------------------------------------------------------
one      0
two      5
three    6
four     7
Name: paris, dtype: int32

In [53]:
print(DF.iloc[1, [1, 2, 3]])

two      5
three    6
four     7
Name: paris, dtype: int32

In [55]:
print(DF.iloc[1:3, [1, 2, 3]])

        two  three  four
paris     5      6     7
Berlin    9     10    11

In [58]:
print(DF.loc['paris', ['one', 'two']])

one    0
two    5
Name: paris, dtype: int32

In [60]:
print(DF)
print("-" * 60)
print(DF.loc[:"paris", "four"])

          one  two  three  four
london      0    0      0     0
paris       0    5      6     7
Berlin      8    9     10    11
Istanbul   12   13     14    15
------------------------------------------------------------
london    0
paris     7
Name: four, dtype: int32