In [2]:
import pandas as pd
import numpy as np

In [4]:
DF = pd.DataFrame(
    [[2.4, np.nan], [6.3, -5.4], 
    [np.nan, np.nan], [0.75, -1.3]],
    index=['a', 'b', 'c', 'd'], 
    columns=["one", "two"]
)

print(DF)

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3

In [7]:
print(DF.sum())

one    9.45
two   -6.70
dtype: float64

In [9]:
print(DF.sum(axis=1))

a    2.40
b    0.90
c    0.00
d   -0.55
dtype: float64

In [11]:
print(DF.mean())

one    3.15
two   -3.35
dtype: float64

In [14]:
print(DF.mean(axis=1))

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [20]:
print(DF.mean(axis=1, skipna=True))

a    2.400
b    0.450
c      NaN
d   -0.275
dtype: float64

In [24]:
print(DF.idxmax())

one    b
two    d
dtype: object

In [28]:
print(DF)

print("-" * 60)

print(DF.cumsum())

    one  two
a  2.40  NaN
b  6.30 -5.4
c   NaN  NaN
d  0.75 -1.3
------------------------------------------------------------
    one  two
a  2.40  NaN
b  8.70 -5.4
c   NaN  NaN
d  9.45 -6.7

In [30]:
DF.describe()

         one       two
count  3.000  2.000000
mean   3.150 -3.350000
std    2.850  2.899138
min    0.750 -5.400000
25%    1.575 -4.375000
50%    2.400 -3.350000
75%    4.350 -2.325000
max    6.300 -1.300000

In [33]:
iris = pd.read_csv("C:\\Users\\Kiran\\CDAC\\Untitled Folder\\iris.data", sep=",", header=None)
print(iris)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [34]:
iris.columns = ['sepal_length', 'sepal_width', 'petel_length', 'petel_width', 'class']

In [36]:
print(iris)

     sepal_length  sepal_width  petel_length  petel_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [38]:
print(iris.corr)

<bound method DataFrame.corr of      sepal_length  sepal_width  petel_length  petel_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [41]:
print(iris['sepal_length'].corr(iris['sepal_width']))

-0.10936924995064937

In [43]:
srs = pd.Series(['b','b', 'b', 'b', 'c', 'c', 'a', 'a', 'a', 'a'])
print(srs)

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
9    a
dtype: object

In [45]:
print(srs.unique())

['b' 'c' 'a']

In [48]:
print(srs.value_counts())

b    4
a    4
c    2
dtype: int64

In [49]:
x = srs.isin(["b", "c"])
print(x)

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
9    False
dtype: bool