In [2]:
import pandas as pd
import numpy as np

In [4]:
DF1 = pd.read_table("C:\\Users\\Kiran\\CDAC\\Untitled Folder\\data.txt")
print(DF1)

  name  score sex
0  Tim     80   M
1  Tom     85   M
2  Kim     70   F
3  Sam     90   M
4  Efe     75   M

In [12]:
DF2 = pd.read_table("C:\\Users\\Kiran\CDAC\\Untitled Folder\\data2.txt", sep=",", header=None)
print(DF2)

      0   1  2
0   Tom  80  M
1   Tim  85  M
2   Kim  70  M
3  Kate  90  F
4  Alex  75  F

In [18]:
DF2 = pd.read_table("C:\\Users\\Kiran\CDAC\\Untitled Folder\\data2.txt", 
                    sep=",", header=None, 
                   names=["name", "score", "gender"])
print(DF2)

        name score gender
lesson  name   one    two
Math     Kim    80     85
Math     Tim    90     70
Math     Tom    70     95
Stat    Kate    65     90
Stat    Alex    85     80
Stat     Sam    55     70

In [23]:
DF3=pd.read_table("C:\\Users\\Kiran\CDAC\\Untitled Folder\\data3.txt",
                  sep=",",
                  index_col=["lesson","name"])

print(DF3)

             one  two
lesson name
Math   Kim    80   85
       Tim    90   70
       Tom    70   95
Stat   Kate   65   90
       Alex   85   80
       Sam    55   70

In [26]:
DF4 = pd.read_table("C:\\Users\\Kiran\CDAC\\Untitled Folder\\data4.txt",
                  sep=",")

print(DF4)

                          #hello
name                score    sex
#scores of students NaN      NaN
Tim                 80         M
Kate                85         F
Alex                70         M
Tom                 90         M
Kim                 75         F

In [28]:
DF4 = pd.read_table("C:\\Users\\Kiran\CDAC\\Untitled Folder\\data4.txt",
                  sep=",", skiprows=[0, 2])

print(DF4)

   name  score sex
0   Tim     80   M
1  Kate     85   F
2  Alex     70   M
3   Tom     90   M
4   Kim     75   F

In [32]:
DF1 = pd.read_csv("C:\\Users\\Kiran\CDAC\\Untitled Folder\\data.txt", sep='\t')
print(DF1)

  name  score sex
0  Tim     80   M
1  Tom     85   M
2  Kim     70   F
3  Sam     90   M
4  Efe     75   M

In [33]:
DF1.to_csv("C:\\Users\\Kiran\CDAC\\Untitled Folder\\data.csv")