In [2]:
import pandas as pd
import numpy as np

In [4]:
srs = pd.Series(['Sam', np.nan, "Tim", "Kim"])
print(srs)

0    Sam
1    NaN
2    Tim
3    Kim
dtype: object

In [6]:
print(srs.isnull())

0    False
1     True
2    False
3    False
dtype: bool

In [9]:
srs[3] = None
print(srs.isnull())

0    False
1     True
2    False
3     True
dtype: bool

In [12]:
res = srs.dropna()
print(res)

0    Sam
2    Tim
dtype: object

In [14]:
from numpy import nan as NA

In [16]:
DF = pd.DataFrame([[1, 2, 3],  [4, NA, 5], 
                  [NA, NA, NA]])
print(DF)

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [18]:
res = DF.dropna()
print(res)

     0    1    2
0  1.0  2.0  3.0

In [20]:
print(DF)

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [22]:
DF[1] = NA
print(DF)

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [36]:
res = DF.dropna(thresh=2, axis=0)
print(res)

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0

In [37]:
res = DF.dropna(thresh=2, axis=1)
print(res)

     0    2
0  1.0  3.0
1  4.0  5.0
2  NaN  NaN

In [39]:
res = DF.fillna(0)
print(res)

     0    1    2
0  1.0  0.0  3.0
1  4.0  0.0  5.0
2  0.0  0.0  0.0

In [41]:
res = DF.fillna({0:15, 1:25, 2:35})
print(res)

      0     1     2
0   1.0  25.0   3.0
1   4.0  25.0   5.0
2  15.0  25.0  35.0

In [43]:
print(DF)

     0   1    2
0  1.0 NaN  3.0
1  4.0 NaN  5.0
2  NaN NaN  NaN

In [45]:
DF1 = pd.DataFrame([[1, 2, 3], [4, NA, 5], [NA, NA, NA]])
print(DF1)

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [48]:
res = DF1.fillna(method='ffill')
print(res)

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  2.0  5.0

In [54]:
res = DF1.fillna(method="ffill", limit=1)
print(res)

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  4.0  NaN  5.0

In [56]:
srs = pd.Series([1, 0, NA, 5])
print(srs)

0    1.0
1    0.0
2    NaN
3    5.0
dtype: float64

In [58]:
res = srs.fillna(srs.mean())
print(res)

0    1.0
1    0.0
2    2.0
3    5.0
dtype: float64

In [61]:
print(DF1)

     0    1    2
0  1.0  2.0  3.0
1  4.0  NaN  5.0
2  NaN  NaN  NaN

In [64]:
res = DF1.fillna(DF1.mean())
print(res)

     0    1    2
0  1.0  2.0  3.0
1  4.0  2.0  5.0
2  2.5  2.0  4.0