In [2]:
import pandas as pd

In [5]:
DF = pd.DataFrame({"a": ['one',  'two']*3,
                   "b":[1, 1, 2, 3, 2, 3]})
print(DF)

     a  b
0  one  1
1  two  1
2  one  2
3  two  3
4  one  2
5  two  3

In [8]:
print(DF.duplicated())

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [10]:
res = DF.drop_duplicates()
print(res)

     a  b
0  one  1
1  two  1
2  one  2
3  two  3

In [12]:
DF["c"] = range(6)
print(DF)

     a  b  c
0  one  1  0
1  two  1  1
2  one  2  2
3  two  3  3
4  one  2  4
5  two  3  5

In [15]:
res = DF.duplicated(["a", "b"], keep="last")
print(res)

0    False
1    False
2     True
3     True
4    False
5    False
dtype: bool

In [17]:
DF1 = pd.DataFrame({'names': ['Tim', 'Tom', 'Sam', 'Kate', 'Kim'],
                   'Scores': [60, 50, 70, 80, 40]})
print(DF1)

  names  Scores
0   Tim      60
1   Tom      50
2   Sam      70
3  Kate      80
4   Kim      40

In [19]:
classes = {"Tim":"A", "Tom":"A", "Sam":"B", "Kate":"B", "Kim":"B"}

In [24]:
resDF = DF1["names"].str.capitalize()
print(resDF)

0     Tim
1     Tom
2     Sam
3    Kate
4     Kim
Name: names, dtype: object

In [28]:
print(classes)
print("-" * 60)
DF1["branches"] = resDF.map(classes)
print(DF1)

{'Tim': 'A', 'Tom': 'A', 'Sam': 'B', 'Kate': 'B', 'Kim': 'B'}
------------------------------------------------------------
  names  Scores branches
0   Tim      60        A
1   Tom      50        A
2   Sam      70        B
3  Kate      80        B
4   Kim      40        B

In [29]:
srs = pd.Series([80, 70, 90, 60])
print(srs)

0    80
1    70
2    90
3    60
dtype: int64