In [2]:
import numpy as np
import pandas as pd

In [6]:
data = pd.Series(np.random.randn(8), 
                index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c'], 
                [1, 2, 3, 1, 2, 3, 1, 2]])
print(data)

a  1   -1.985909
   2   -0.208876
   3    1.158504
b  1   -0.028370
   2    1.068554
   3    1.260635
c  1    0.922889
   2   -1.377619
dtype: float64

In [8]:
print(data.index)

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2)],
           )

In [10]:
print(data['a'])

1   -1.985909
2   -0.208876
3    1.158504
dtype: float64

In [12]:
print(data['b':'c'])

b  1   -0.028370
   2    1.068554
   3    1.260635
c  1    0.922889
   2   -1.377619
dtype: float64

In [16]:
print(data.loc[['a', 'c']])

a  1   -1.985909
   2   -0.208876
   3    1.158504
c  1    0.922889
   2   -1.377619
dtype: float64

In [19]:
print(data.loc[:, 1])

a   -1.985909
b   -0.028370
c    0.922889
dtype: float64

In [21]:
print(data.unstack())

          1         2         3
a -1.985909 -0.208876  1.158504
b -0.028370  1.068554  1.260635
c  0.922889 -1.377619       NaN

In [24]:
print(data.unstack().stack())

a  1   -1.985909
   2   -0.208876
   3    1.158504
b  1   -0.028370
   2    1.068554
   3    1.260635
c  1    0.922889
   2   -1.377619
dtype: float64

In [30]:
DF = pd.DataFrame(
    np.arange(20).reshape(5, 4), 
    index = [['a', 'a', 'a', 'b', 'b'], 
    [1, 2, 3, 1, 2]],
    columns=[['num', 'num', 'num', 'ver'], 
            ['math', 'stat', 'ML', 'Geo']])
print(DF)

     num          ver
    math stat  ML Geo
a 1    0    1   2   3
  2    4    5   6   7
  3    8    9  10  11
b 1   12   13  14  15
  2   16   17  18  19

In [33]:
DF.index.names = ['class', 'exam']
DF.columns.names = ["field", 'lesson']
print(DF)

field       num          ver
lesson     math stat  ML Geo
class exam
a     1       0    1   2   3
      2       4    5   6   7
      3       8    9  10  11
b     1      12   13  14  15
      2      16   17  18  19

In [35]:
print(DF['num'])

lesson      math  stat  ML
class exam
a     1        0     1   2
      2        4     5   6
      3        8     9  10
b     1       12    13  14
      2       16    17  18

In [37]:
print(DF.swaplevel("class", "exam"))

field       num          ver
lesson     math stat  ML Geo
exam class
1    a        0    1   2   3
2    a        4    5   6   7
3    a        8    9  10  11
1    b       12   13  14  15
2    b       16   17  18  19

DF.sort_index(level=1)

In [42]:
print(DF.sum(level="exam"))

field   num          ver
lesson math stat  ML Geo
exam
1        12   14  16  18
2        20   22  24  26
3         8    9  10  11

C:\Users\Kiran\AppData\Local\Temp\ipykernel_9304\1729514749.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  print(DF.sum(level="exam"))

In [47]:
print(DF.sum(level="field", axis= 1))

field       num  ver
class exam
a     1       3    3
      2      15    7
      3      27   11
b     1      39   15
      2      51   19

C:\Users\Kiran\AppData\Local\Temp\ipykernel_9304\1847305691.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  print(DF.sum(level="field", axis= 1))

In [60]:
DF1 = pd.DataFrame(
    {"x": range(8), "y":range(8, 0, -1),
     "a":['one', 'one', 'one', 'one', 'two', 'two', 'two', 'two'], 
     "b":[0, 1, 2, 3, 0, 1, 2, 3]})
print(DF1)

   x  y    a  b
0  0  8  one  0
1  1  7  one  1
2  2  6  one  2
3  3  5  one  3
4  4  4  two  0
5  5  3  two  1
6  6  2  two  2
7  7  1  two  3

In [63]:
data2 = DF1.set_index(["a", "b"])
print(data2)

       x  y
a   b
one 0  0  8
    1  1  7
    2  2  6
    3  3  5
two 0  4  4
    1  5  3
    2  6  2
    3  7  1

In [67]:
data3 = DF1.set_index(["a", "b"],drop = False)
print(data3)

       x  y    a  b
a   b
one 0  0  8  one  0
    1  1  7  one  1
    2  2  6  one  2
    3  3  5  one  3
two 0  4  4  two  0
    1  5  3  two  1
    2  6  2  two  2
    3  7  1  two  3