In [1]:
import pandas as pd
import numpy as np

In [2]:
DF = pd.DataFrame(
    np.arange(16).reshape(4, 4), 
    index=[list("aabb"), [1, 2] * 2],
    columns = [["num", "num", 
                "comp", "comp"], ["math", "stat"]*2])
print(DF)

     num      comp
    math stat math stat
a 1    0    1    2    3
  2    4    5    6    7
b 1    8    9   10   11
  2   12   13   14   15

In [3]:
DF.index.names=["class", "exam"]
DF.columns.names = ["field", "lesson"]
print(DF)

field       num      comp
lesson     math stat math stat
class exam
a     1       0    1    2    3
      2       4    5    6    7
b     1       8    9   10   11
      2      12   13   14   15

In [4]:
long = DF.stack()
print(long)

field              comp  num
class exam lesson
a     1    math       2    0
           stat       3    1
      2    math       6    4
           stat       7    5
b     1    math      10    8
           stat      11    9
      2    math      14   12
           stat      15   13

In [5]:
print(long.unstack())

field      comp       num
lesson     math stat math stat
class exam
a     1       2    3    0    1
      2       6    7    4    5
b     1      10   11    8    9
      2      14   15   12   13

In [6]:
print(DF.stack())

field              comp  num
class exam lesson
a     1    math       2    0
           stat       3    1
      2    math       6    4
           stat       7    5
b     1    math      10    8
           stat      11    9
      2    math      14   12
           stat      15   13

In [7]:
DF.stack(0)

lesson            math  stat
class exam field
a     1    comp      2     3
           num       0     1
      2    comp      6     7
           num       4     5
b     1    comp     10    11
           num       8     9
      2    comp     14    15
           num      12    13

In [8]:
s1 = pd.Series(np.arange(4), index=list("abcd"))
s2 = pd.Series(np.arange(6, 9), index=list("cde"))
print(s1)
print(s2)

a    0
b    1
c    2
d    3
dtype: int32
c    6
d    7
e    8
dtype: int32

In [9]:
res = pd.concat([s1, s2], keys=(["blr", "che"]))
print(res)

blr  a    0
     b    1
     c    2
     d    3
che  c    6
     d    7
     e    8
dtype: int32

In [10]:
res1 = res.unstack()
print(res1)

       a    b    c    d    e
blr  0.0  1.0  2.0  3.0  NaN
che  NaN  NaN  6.0  7.0  8.0

In [14]:
res.unstack().stack(dropna = False)

blr  a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    NaN
che  a    NaN
     b    NaN
     c    6.0
     d    7.0
     e    8.0
dtype: float64